
<meta charset="UTF-8">
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/my.css" />

<div class="header">
     <h1>Career Interactive Application</h1>
</div>
<div class="nav">
    <ul>
        <li><a href="#section-addProduct">Add Product</a></li>
        <li><a href="#section-getProduct">Get/Update/Delete Product</a></li>
        <li><a href="#section-getProducts">Get Products</a></li>
    </ul>
</div>
<div id="section-addProduct" class="tab-content">
    <form id="addForm">
		<div class="main">
			<label>Title:</label>
			<input type="text" id="title" name="title" required>

<label>Description:</label>
<input type="text" id="description" name="description" required>

<label>Price:</label>
<input type="text" id="price" name="price"/>

<button id="btnAdd">Add</button>

</div>
</form>
</div>
<div id="section-getProduct" class="tab-content">
    <form id="getForm">	
<div class="main">
<label>Id:</label>
<input type="text" id="searchId" name="searchId" required>
<button id="btnSearch">Search</button>
<label>Title:</label>
<input type="text" id="gettitle" name="gettitle">
<label>Description:</label>
<input type="text" id="getdescription" name="getdescription">
<label>Price:</label>
<input type="text" id="getprice" name="getprice">
<label>Created Date:</label>
<input type="text" id="getcreated_date" name="getcreated_date" disabled>
<label>Updated Date:</label>
<input type="text" id="getupdated_date" name="getupdated_date" disabled>
<button id="btnUpdate">Update</button>
<button id="btnDelete">Delete</button>
 </div>
 </form>
</div>
<div id="section-getProducts" class="tab-content">
 <table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Created_at</th>
        <th>Updated_at</th>
    </tr>
</table>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/navigation.js"></script>
<script src="js/crud.js"></script>
