@CHARSET "UTF-8";
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.header {
	padding-top: 5px;
}


.main {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:300px;
	overflow-y: scroll;
	width:600px;
}


ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.main input {
  margin-bottom:15px;
  margin-top:5px;
  width:350px;
}
label {
	display:block;
}

button {
	padding:6px;
}

