.header {
    background-color:grey;
    color:white;
    text-align:center;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:400px;
    width:150px;
    float:left;
    padding:5px;
}
.active {
    font-weight:bold;
}
.section {
    width:600px;
    float:left;
    padding:10px;
}
